git+https://github.com/TickyWill/BiblioParsing.git@main
git+https://github.com/TickyWill/BiblioMeter.git@more-GUI-refactoring
ScopusApyJson==1.1.5
auto_py_to_exe==2.42.0
numpy==1.26.3
openpyxl==3.1.2
pandas==2.1.4
requests==2.31.0
screeninfo==0.8.1

